version: '3.8'

services:
  # Base de datos
  postgres: # Nombre del servicio (hostname interno)
    image: postgres:15-alpine
    container_name: db_postgres
    environment:
      POSTGRES_DB: proyecto_sd
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - proyecto-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Backend REST (Java)
  servicio-rest:
    build:
      context: ./servicio-core-negocio
      dockerfile: Dockerfile
    container_name: servicio_rest
    ports:
      - "8080:8080"
    environment:
      # OJO: Aquí usamos 'postgres' como host porque así se llama el servicio arriba
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/proyecto_sd
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - proyecto-network

  # Backend SOAP (Java)
  servicio-soap:
    build:
      context: ./servicio-facturacion
      dockerfile: Dockerfile
    container_name: servicio_soap
    ports:
      - "8081:8081"
    networks:
      - proyecto-network

  # Frontend y WebSocket (Node.js)
  servicio-tracking:
    build:
      context: ./servicio-tracking
      dockerfile: Dockerfile
    container_name: servicio_tracking
    ports:
      - "3000:3000"
    networks:
      - proyecto-network

volumes:
  postgres_data:

networks:
  proyecto-network:
    driver: bridge